@import './functions';
// Harvest Profit colors

// Colors
$black: '#000'    !default;
$blue:  '#2F6690' !default;
$green: '#2D8545' !default;
$grey:  '#444'    !default;
$red:   '#B51F21' !default;
$white: '#fff'    !default;
