@import './functions';
// Harvest Profit colors

// Colors
$black: #000      !default;
$blue:  #2f6690   !default;
$green: #2d8545   !default;
$grey:  #444      !default;
$red:   #b51f21   !default;
$white: #fff      !default;
