.filters-v2 {
  &.pull-right {
    margin: -0.5em 0 0 1em;
  }

  .dropdown-menu {
    outline: none;
  }

  .dropdown-item > * {
    cursor: pointer;
    display: inline-block;
  }

  .filter-options {
    max-height: 300px;
    overflow-y: scroll;

    button {
      border-radius: 0;
      border-bottom: 1px solid #d8d8d8;
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }

      &:active {
        background: #eee;
        color: inherit;
      }
    }
  }

  input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }

  .clear-filters {
    background: #f6f6f6;
    color: #333;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-top: 1px solid #ddd;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.4s;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      opacity: 1;
      transition: opacity 0.4s;

      i::before {
        content: '\f057';
      }
    }
  }

  button {
    color: #888;

    &:active {
      cursor: pointer;
    }

    &.has-filters i {
      color: $green;
      transition: color 0.3s;
    }
  }

  & > * {
    display: inline-block;
    position: relative;

    & > div {
      padding: 2px;
    }
  }
}
