@import './ColorPallet';
$filter-dropdown-v2-clear-background: $light-white;
$filter-dropdown-v2-clear-text-color: $dark-grey;
$filter-dropdown-v2-clear-overline: $dark-white;

$filter-dropdown-v2-button-has-filter-color: $green;


.filter-dropdown.v2 {
  // Adds space to the checkbox
  input[type="checkbox"] {
    margin-right: 5px;
  }

  // The end component
  .filterdropdown-end-action.v2 button {
    background: $filter-dropdown-v2-clear-background;
    color: $filter-dropdown-v2-clear-text-color;
    font-size: 10px;
    border-top: 1px solid $filter-dropdown-v2-clear-overline;
    opacity: 0.8;
    transition: opacity 0.4s;
    border-radius: 0;
    width: 100%;
    white-space: nowrap;

    &:hover {
      opacity: 1;

      i::before {
        content: '\f057';
      }
    }
  }

  // Styles the icon green if there is a filter
  .dropdown-toggle.v2 .has-filters i {
    color: $filter-dropdown-v2-button-has-filter-color;
  }
}
