@import './ColorPallet';
$modal-v2-background-color: $true-white;
$modal-v2-cancel-action-color: $dark-grey;
$modal-v2-title-color: $light-black;
$modal-v2-subtitle-color: $light-grey;

body.modal-v2-noscroll {
  overflow: hidden;
}

.modal.v2 {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;

  &.small > .contents {
    min-height: 250px;
    max-height: 350px;
  }

  &.large > .contents {
    min-height: 500px;
    max-height: 600px;
  }

  & > .contents {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
    background: $modal-v2-background-color;
    z-index: 1002;
    margin: 0 auto;
    padding: 20px;
    min-width: 500px;
    min-height: 350px;
    max-width: 700px;
    max-height: 500px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: scroll;

    & > .body {
      flex: 1;
      margin: 15px 0;
    }

    & > .footer {
      display: flex;
      flex-flow: row;
      align-items: center;

      & > * {
        margin-right: 5px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    & > .title {
      position: relative;

      // Title
      & > h1 {
        margin: 0;
        color: $modal-v2-title-color;
        font-weight: normal;
        font-size: 36px;
      }

      // Subtitle
      & > h3 {
        margin: 0;
        color: $modal-v2-subtitle-color;
        font-weight: normal;
        font-size: 14px;
      }

      // Dismiss Modal
      & > .action {
        position: absolute;
        top: 0;
        right: 0;
        color: $modal-v2-cancel-action-color;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  & > .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1001;
  }
}
