@import './ColorPallet';
$table-v2-header-color: $light-white;
$table-v2-header-text-color: $dark-grey;
$table-v2-header-border-color: $white;
$table-v2-body-color: $true-white;
$table-v2-body-text-color: $light-black;
$table-v2-body-border-color: $white;
$table-v2-footer-color: $light-white;
$table-v2-footer-border-color: $white;

$table-v2-greater-header-text-color: $dark-grey;
$table-v2-lesser-header-text-color: $grey;

$table-v2-header-text-size: 11px;


$table-v2-greater-body-text-color: $black;
$table-v2-lesser-body-text-color: $dark-grey;

$table-v2-lesser-body-text-size: 12px;
$table-v2-body-text-size: 14px;
$table-v2-greater-body-text-size: 17px;

$table-v2-break-points: 1200px 1100px 800px;

$table-v2-exsmall-min-width: 50px;
$table-v2-small-min-width: 60px;
$table-v2-medium-min-width: 70px;
$table-v2-large-min-width: 80px;

$table-v2-sort-options-color: $dark-white;
$table-v2-sort-options-active-color: $dark-grey;

.table-v2-sorting {
  user-select: none;
}

.table-header-sortable-item {
  cursor: pointer;

  & > .fa {
    color: $table-v2-sort-options-color;
    font-size: 18px;
    line-height: 15px;
    margin-left: 8px;
    opacity: 0.4;
    transition: opacity 0.2s;

    &:before {
      content: "\f0d8";
    }

    &:after {
      content: "\f0d7";
    }
  }

  &:hover > .fa {
    opacity: 1;
    transition: opacity 0.2s;
  }

  &.active > .fa {
    opacity: 1;
  }

  &.active.decrease > .fa:after,
  &.active.increase > .fa:before {
    color: $table-v2-sort-options-active-color;
  }
}

.table-header.v2 {
  padding: 0 13px;
  display: flex;
  flex-flow: row;
  font-size: $table-v2-header-text-size;
  background: $table-v2-header-color;
  border-bottom: 2px solid $table-v2-header-border-color;
  font-weight: normal;
  color: $table-v2-header-text-color;
}

.table-header-item.v2 {
  display: flex;
  padding: 10px 7px;
  flex-flow: column;
  justify-content: flex-end;
  text-transform: uppercase;

  & > span:not(.allow-wrap) {
    white-space: nowrap;
  }

  &.lesser {
    font-weight: lighter;
    color: $table-v2-lesser-header-text-color;
  }

  &.greater {
    font-weight: bold;
    color: $table-v2-greater-header-text-color;
  }

  &.spaced {
    align-items: space-around;
  }

  &.center {
    align-items: center;
    text-align: center;
  }

  &.left {
    align-items: flex-start;
    text-align: left;
  }

  &.right {
    align-items: flex-end;
    text-align: right;
  }
}

.table-body.v2 {
  display: flex;
  flex-flow: column;
  font-weight: normal;
  font-size: $table-v2-body-text-size;
  color: $table-v2-body-text-color;
  background: $table-v2-body-color;

  &.sorting-disabled .table-sort-handle.v2 {
    opacity: 0;
  }
}

.table-row.v2 {
  padding: 0 13px;
  display: flex;
  flex-flow: row;
  margin-top: -1px;
  border-top: 1px solid $table-v2-body-border-color;
  border-bottom: 1px solid $table-v2-body-border-color;
  font-size: $table-v2-body-text-size;
  color: $table-v2-body-text-color;
  background: $table-v2-body-color;

  &.bottom .table-item.v2 {
    align-items: flex-end;
  }

  &.top .table-item.v2 {
    align-items: flex-start;
  }

  &.center .table-item.v2 {
    align-items: center;
  }
}

.table-item.v2 {
  display: flex;
  padding: 10px 7px;
  flex-flow: row;

  &.table-sort-handle.v2 {
    transition: opacity 0.2s;
    cursor: row-resize;
    margin: 5px 0;
  }

  &.spaced > span {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &.center {
    justify-content: center;
    text-align: center;
  }

  &.left {
    justify-content: flex-start;
    text-align: left;
  }

  &.right {
    justify-content: flex-end;
    text-align: right;
  }

  &.ellipsis {
    overflow: hidden;

    & > span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.lesser {
    font-weight: lighter;
    font-size: $table-v2-lesser-body-text-size;
    color: $table-v2-lesser-body-text-color;
  }

  &.greater {
    color: $table-v2-greater-body-text-color;
    font-weight: normal;
    font-size: $table-v2-greater-body-text-size;
  }
}

.table-footer.v2 {
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  padding: 10px 18px;
  background: $table-v2-footer-color;
  border-top: 1px solid $table-v2-footer-border-color;
  margin-top: -1px;
}

.table-header-item.v2,
.table-item.v2 {
  display: flex;
  flex: 3;
  overflow: hidden;
  min-width: 150px;

  &.table-sort-handle.v2 {
    min-width: 30px;
    max-width: 30px;
  }

  &.exsmall {
    flex: 1;
    min-width: $table-v2-exsmall-min-width;
  }

  &.small {
    flex: 2;
    min-width: $table-v2-small-min-width;
  }

  &.medium {
    flex: 3;
    min-width: $table-v2-medium-min-width;
  }

  &.large {
    flex: 4;
    min-width: $table-v2-large-min-width;
  }
}
