.input {
  border: 1px solid darken($white, 5%);
  border-radius: 2px;
  font-size: 1rem;
  padding: .8rem;

  &:focus {
    border: 1px solid $grey;
    outline: 0;
  }

  &.error {
    border: 1px solid $red;
  }
}
